[Unit]
Description=User resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/xmodmap %h/.Xmodmap

[Install]
WantedBy=suspend.target
