[Unit]
Description="yaskkserv2 daemon"

[Service]
Type=simple
ExecStartPre=%h/.local/bin/skk-make-dict
ExecStart=%h/.local/bin/yaskkserv2 --midashi-utf8 --config-filename %h/.config/yaskkserv2/config.conf --no-daemonize