configuration {
	modi: "combi,run,filebrowser,keys";
	show-icons: true;
	combi-modi: "window,drun,run";
    {{- if eq .ctype "desktop" }}
	dpi: 133;
    {{end }}
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  show {
      icons: "-combi-modi";
  }
}
@theme "Adapta-Nokto"
