[Unit]
Description=xremap
PartOf=graphical-session.target

[Service]
KillMode=process
ExecStart=/usr/bin/xremap %h/.xremap
ExecStop=/usr/bin/killall xremap
Restart=always
RestartSec=5s
StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target
