*
!alacritty.yml
!.gitignore

!fish/
!fish/config.fish
!fish/fishfile
!omf/
!omf/bundle
!omf/channel
!omf/theme

!tmux/
!tmux/tmux.conf
!tmux/osx.conf
!tmux/linux.conf

!git/
!git/config
!git/ignore

!tig/
!tig/config

!karabiner/
!karabiner/karabiner.json
!hammerspoon/
!hammerspoon/init.lua

!direnv/
!direnv/direnvrc

!alacritty/
!alacritty/alacritty.yml
