# TODO: current window, colorpicker, mem, swap load, temp, home, IP, date
# vim: set ft=toml:
[theme]
theme = "nord-dark"
[icons]
icons = "awesome5"

[[block]]
block = "focused_window"

#
#[[block]]
#block = "custom"
#command = "~/src/github.com/ka2n/dotfiles/i3status-rust/i3-focuedwindow.sh"
#interval = 2
#[[block]]
#block = "custom"
#command = "~/bin/get_mining_state"
#interval = 10

[[block]]
block = "music"
#buttons = ["play", "next"]

[[block]]
block = "kdeconnect"

[[block]]
block = "memory"
format = " $icon $mem_used.eng(prefix:M)/$mem_total.eng(prefix:M)($mem_used_percents.eng(w:2)) "

[[block]]
block = "load"
interval = 1

[[block]]
block = "custom"
command = "~/bin/i3-current-performance-profile.sh"
interval = 10

[[block]]
block = "temperature"
interval = 5
{{ if eq .ctype "laptop" }}
chip = "coretemp-isa-*"
{{ else }}
chip = "*-pci-*"
inputs = ["Tccd1", "Tccd2", "Composite"]
{{ end }}

#[[block]]
#block = "net"
#format = "{ssid} {signal_strength}"
#interval = 5

#[[block]]
#block = "disk_space"
#path = "/"
#alias = "/"
#info_type = "available"
#unit = "GB"
#interval = 30
#warning = 20.0
#alert = 10.0


[[block]]
block = "battery"

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "$icon $timestamp.datetime(f:'%F %R')"
